@{
    ViewBag.Title = "普通新增/修改模板页";
    ViewBag.Master = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadCssContent {
    <link rel="stylesheet" href="@Url.Content("~/Assets/Res/Css/master/add.css")" media="all"/>
    <link rel="stylesheet" href="@Url.Content("~/Assets/Res/Css/master/show.css")" media="all"/>
    @RenderSection("HeadCssContent", required: false)
}

<div class="show-body">
    <form class="layui-form layui-form-pane" name="form1" id="form1" onsubmit="return false;" enctype="multipart/form-data" onkeypress="if(event.keyCode==13){return false;}">
        <div class="layui-form-item">
        @RenderBody()
        </div>
        <div class="show-footer">
            <div class="show-footer-buttons">
                <div class="show-footer-buttons">
                    <button id="base-return" class="layui-btn layui-btn-sm qui-btn-normal">返回</button>
                    <button id="base-submit" class="layui-btn layui-btn-sm qui-btn-normal" lay-filter="*" lay-submit>提交</button>
                    @RenderSection("ButtonsArea", required: false)
                </div>
            </div>
        </div>
        <input type="hidden" id="opertype" value="@(ViewBag.OperType)" />
        <input type="hidden" id="actionurl" value="@(ViewBag.ActionUrl)" />
        @RenderSection("HiddenArea", required: false)
    </form>
</div>

@section HeadContent
{
    @RenderSection("HeadContent", required: false)
}

